.sidebar {
    padding: 0;
}

.sidebar ::deep .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: #333;
    border-radius: 0.25rem;
}

.sidebar ::deep .nav-link .bi {
    color: #727272;
}

.sidebar ::deep .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar ::deep .nav-link.active {
    color: #0d6efd;
}

.sidebar ::deep .nav-link:hover .bi,
.sidebar ::deep .nav-link.active .bi {
    color: inherit;
}

@media (min-width: 768px) {
    .sidebar {
        display: block !important;
        position: sticky;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
